/* Reset */
html,
body
  padding: 0
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box


/**** Theme Fonts and Colors ****/

/* Fonts */
@font-face
  font-family: 'Nimbneue'
  font-style: normal
  font-weight: 400
  src: local(''), url('../assets/fonts/NimbusSan-Reg.woff2') format('woff2'), url('../assets/fonts/NimbusSan-Reg.woff') format('woff')

@font-face
  font-family: 'Nimbneue'
  font-style: italic
  font-weight: 400
  src: local(''), url('../assets/fonts/NimbusSan-RegIta.woff2') format('woff2'), url('../assets/fonts/NimbusSan-RegIta.woff') format('woff')

@font-face
  font-family: 'Alfarn'
  font-style: normal
  font-weight: 400
  src: local(''), url('../assets/fonts/Alfarn.woff2') format('woff2'), url('../assets/fonts/Alfarn.woff') format('woff')

@font-face
  font-family: 'Alfarn'
  font-style: normal
  font-weight: 700
  src: local(''), url('../assets/fonts/Alfarn.woff2') format('woff2'), url('../assets/fonts/Alfarn.woff') format('woff')

%font-style-2
  font-family: 'IBM Plex Mono', monospace
  text-transform: uppercase
  font-size: 14px
  letter-spacing: 0.5px

body
  font-family: Nimbneue
  font-weight: normal
  font-size: 22px
  line-height: 1.5em

h1,h2,h3,h5.cta-title,h6
  font-family: Alfarn
  font-weight: bold

h5.cta-title
  font-size: 60px

h1,h2,h3,h4,h5,h6
  display: block
  width: 100%
  text-transform: uppercase
  margin-top: .6em
  line-height: 1em

h1,h2,h3
  font-size: 42px
  letter-spacing: 1px
  margin-bottom: .5em
  
h4,h5
  font-family: 'IBM Plex Mono', monospace
  font-size: 20px
  letter-spacing: 1.5px
  margin-bottom: .8em
  margin-top: 0

h6
  font-family: 'IBM Plex Mono', monospace
  text-transform: uppercase
  font-size: 16px
  letter-spacing: 0.5px
  text-transform: none


h1,h2,h3,h4,h5
  &.h5
    @extend h5

h1,h2,h3,h4,h5
  &.h6
    @extend h6

.menu a,
.site-footer,
.pretitle
  @extend %font-style-2

.blocklist-item
  font-size: 20px
  line-height: 1.3em

/* Colors */
body
  color: #515151
  background: #f4f4f4

.site-header, 
.site-footer
  background-color: #f4f4f4

.menu 
  a
    &:not(.feature-link)
      @media(max-width: 820px)
        display: none
    &.feature-link
      background-color: #00c87d

.pretitle
  border-bottom: 2px solid #c0c0c0

.light
  color: #c8c8c8
  border-color: #525252

hr.divider
  border: 0
  margin-bottom: 20px
  height: 2px
  background-color: #c0c0c0

.blocklist-wide-item
  border-top: 2px solid #c0c0c0

.faq
  .faq-item
    h1,h2,h3,h4,h5,h6
      border-bottom: 1px solid #c0c0c0
      border-top: 1px solid #c0c0c0
    &:first-child
      h1,h2,h3,h4,h5,h6
          border-top: 0
    &:last-child
      h1,h2,h3,h4,h5,h6
          border-bottom: 0

.faq-item
  h1,h2,h3,h4,h5,h6
    &:hover, &:active
      background: #f4f4f4
  svg
    color: #c0cad2

.light .cta-title
  color: #fff

.planets .divider:before
  background-color: #c0c0c0

/**** Pages and Components ****/

html
  scroll-behavior: smooth
  scroll-padding-top: 66px

main
  overflow-x: hidden

p
  margin-top: 24px
  margin-bottom: 40px

  & ~ h1,
  & ~ h2,
  & ~ h3,
  & ~ h4,
  & ~ h5,
  & ~ h6
    margin-top: 60px

  &.skinny
    max-width: 80%
    @media(max-width: 1480px)
      max-width: 100%

/* Framework */
.align-center
  text-align: center

[class*="flex-row"] .container
  display: flex
  flex-direction: row
  @media(max-width: 1184px)
    flex-wrap: wrap

[class*="flex-col"]
  display: flex
  flex-direction: column

[class*="row-fill"] .container
  justify-content: flex-start
  align-items: stretch
  align-content: stretch

[class*="col-center"]
  justify-content: center
  align-items: center
  align-content: center

[class*="col-end-center"]
  justify-content: end
  align-items: center
  align-content: center

[class*="-50-50"] .container > *
  flex: 1 1 50%

  @media(max-width: 1184px)
    flex: 1 0 100%

  &:nth-child(2n+1)
    padding-right: 30px

  &:nth-child(2n+2)
    padding-left: 30px

.no-top-padding
  padding-top: 0!important

.no-bottom-padding
  padding-bottom: 0!important

/* Containers */
.page
  display: block
  width: 100%

.container
  display: block
  position: relative
  width: 100%
  max-width: 1024px
  margin-left: auto
  margin-right: auto
  padding-left: 30px
  padding-right: 30px

  .container
    padding-left: 0!important
    padding-right: 0!important

section
  display: block
  width: 100%
  position: relative

.section-blurb,
.section-image
  @media(max-width: 1184px)
    padding: 0!important

main
  display: block
  width: 100%

/* Site Header */
.site-header
  display: block
  position: fixed
  z-index: 9999
  top: 0
  left: 0
  width: 100%
  @media(max-width: 820px)
    top: 24px

  .container
    @media(max-width: 820px)
      padding: 0 15px

.branding
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: center
  align-content: stretch
  flex: 0 1 auto

  @media(max-width: 820px)
    flex: 1 0 100%
  
.logo
  line-height: 0
  margin-right: 20px
  padding-top: 8px
  
  @media(max-width: 820px)
    flex: 1 0 auto
  
.social-link
  display: inline-block
  width: 100%
  text-align: center

.nav
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: center
  align-content: stretch

.menu
  display: flex
  flex-flow: row nowrap
  justify-content: flex-end
  align-items: stretch
  align-content: stretch
  flex: 1 0 auto
  height: 100%

  a
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: stretch
    align-content: stretch
    padding: 0 12px
    margin: 0 2px
    transition: background-color 0.5s

    @media(max-width: 1184px)
      font-size: 12px
      margin: 0
      padding: 0 10px

    &.feature-link
      padding: 0 20px
      margin: 10px 0 10px 30px
      border-radius: 10px

      @media(max-width: 1184px)
        margin-left: 18px

      @media(max-width: 820px)
        position: absolute
        top: -24px
        left: 0
        margin: 0
        border-radius: 0
        width: 100%
        text-align: center
        padding: 0px 5px
        line-height: 24px

    &.disabled
      cursor: default
      pointer-events: none
      user-select: none

    &:hover,
    &:active
      background-color: #eee

/* Sections and Blocks */
.pretitle
  display: block
  width: 100%
  padding-bottom: 8px
  margin-top: -6px

  #blocklister &
    border-bottom: 0
    margin-bottom: -24px
    padding-bottom: 0

.gallery-items
  display: flex
  flex-flow: row wrap
  justify-content: flex-start 
  align-items: stretch
  align-content: stretch

  & > *
    flex: 1 0 50%

  #art &
    justify-content: center

.cyber-arm,
.skull-wyrm,
.harpoon
  position: absolute
  right: 100%
  bottom: -66px
  padding: 0!important
  flex: 0 1 auto!important
  display: flex
  flex-flow: column nowrap
  justify-content: flex-end
  align-items: flex-end
  align-content: stretch

  @media(max-width: 1480px)
    right: -10%
    transform-origin: 0 100%
    transform: scale(.7)
      
  @media(max-width: 820px)
    transform: scale(.4)
    right: -30%

  *
    line-height: 0

.dragon-frog
  position: absolute
  left: 80%
  top: 80px
  width: 100%
  max-width: 956px
  z-index: 10
  @media(max-width: 1184px)
    left: 70%
  @media(max-width: 820px)
    left: 20%
    top: auto
    bottom: -350px

.floating-city
  position: absolute
  left: 78vw
  bottom: 5vw
  width: 100%
  max-width: 612px
  z-index: 10
  animation: floater 30s infinite ease-in-out
  @media(max-width: 1480px)
    left: 72vw
    bottom: 10vw
  @media(max-width: 1184px)
    transform: scale(.6)
    left: 60vw
    bottom: 30vw
  @media(max-width: 820px)
    left: 50%
    transform: translateX(-50%) scale(.4)
    bottom: -170px

@keyframes floater
  0%
    margin-bottom: 0
  20%
    margin-bottom: 20px
  22%
    margin-bottom: 20px
  40%
    margin-bottom: -15px
  60%
    margin-bottom: 10px
  62%
    margin-bottom: 10px
  80%
    margin-bottom: -10px
  100%
    margin-bottom: 0

div.static-planet
  position: absolute
  left: 85vw
  bottom: -5vw
  width: 100%
  max-width: 483px
  z-index: 1
  @media(max-width: 1184px)
    transform: scale(.7)
    left: 70vw
    bottom: 15vh
    max-width: 100%
  @media(max-width: 820px)
    left: 50%
    transform: translateX(-50%) scale(.3)
    bottom: -200px

.block-anchor
  display: block
  position: absolute
  left: 0
  top: 0

.section-basic
  display: block
  width: 100%
  padding-top: 66px
  padding-bottom: 66px
  padding-left: 30px
  padding-right: 30px

  @media(max-width: 1184px)
    padding-left: 0!important
    padding-right: 0!important
    .section-image
      order: 2

  .section-basic
    padding: 0

.banner
  @media(max-width: 1184px)
    .container
      padding: 0
      flex-flow: column nowrap
      justify-content: flex-end
      align-items: center
    .banner-logo
      width: 300px
      margin-top: 40px
  @media(max-width: 820px)
    .banner-logo,
    .banner-punk
      padding: 0!important


.blocklist
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: stretch
  align-content: stretch
  padding-right: 0!important
  margin-bottom: 66px

  #world &
    flex-flow: column nowrap
    padding: 0!important
    @media(max-width: 1184px)
      flex-wrap: wrap
      flex-flow: row wrap

  .blocklist-item
    flex: 1 1 50%
    margin: 25px 0
    padding: 0 35px
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: center
    align-content: stretch
    @media(max-width: 1184px)
      flex: 1 0 100%
      padding: 0!important
    @media(max-width: 820px)
      flex-flow: column nowrap
    .planets &
      flex: 0 1 auto
    #world &
      padding: 0!important

    &:nth-child(2n+1)
      padding-left: 0

    &:nth-child(2n+2)
      padding-right: 0
    
    & > span
      flex: 0 0 148px
      //border-radius: 999px

  .blocklist-item-content
    padding-left: 24px
    font-size: 16px
    line-height: 24px

    @media(max-width: 1184px)
      width: 100%
      font-size: 20px
      line-height: 28px

    @media(max-width: 820px)
      padding: 0
      margin-top: 40px

.planets
  position: relative
  z-index: 20
  text-shadow: 0 1px 2px rgba(0,0,0,.8)
  @media(max-width: 820px)
    padding-bottom: 300px
  .divider
    position: relative
    overflow: visible
    z-index: 1
    &:before
      content: ""
      display: block
      position: absolute
      width: 150px
      height: 2px
      left: -150px
      top: 0px
    @media(max-width: 820px)
      &:before
        display: none
  .blocklist
    margin-left: -15%
    width: 100%
    justify-content: center
    margin-bottom: 0
    @media(max-width: 1480px)
      margin-left: 20px
      width: 70%
      justify-content: flex-start
    @media(max-width: 820px)
      width: 100%
      margin-left: 0
    .blocklist-item
      font-size: 14px
      @media(max-width: 1480px)
        flex: 1 0 100%!important
        margin: 0 0 50px 0!important
        padding: 0!important
      & > span
        z-index: 5
        @media(max-width: 820px)
          flex: 0 1 auto!important
      &:nth-child(5n+1)
        & > span
          flex: 1 0 214px
        flex: 0 1 50%
      &:nth-child(5n+2)
        & > span
          flex: 1 0 157px
        flex: 0 1 50%
      &:nth-child(5n+3)
        & > span
          flex: 1 0 168px
        flex: 0 1 50%
        margin-left: -10%
      &:nth-child(5n+4)
        & > span
          flex: 1 0 320px
        flex: 0 1 70%
        margin-right: -10%
      &:nth-child(5n+5)
        & > span
          flex: 1 0 196px
        flex: 0 1 50%
    img
      @media(max-width: 820px)
        transform: scale(.8)

  .blocklist-item-content
    font-size: 13px
    line-height: 20px

.blocklist-wide
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: stretch
  align-content: stretch

  @media(max-width: 820px)
    flex-flow: column nowrap

  .section-image
    min-width: 346px

  .section-blurb
    padding-left: 20px

  .blocklist-wide-item
    flex: 1 1 100%
    padding-top: 30px
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: center
    align-content: stretch

    @media(max-width: 820px)
      flex-flow: column nowrap

#blocklister
  padding-bottom: 0!important
  h3 ~ p
    margin-top: 0
  .section-blurb
    p:last-child
      margin-bottom: 0

#faq1.no-top-padding
  h3.h2
    padding-top: 0
    margin-top: 0

.faq
  margin-top: 40px

  #faq &
    max-width: 74%
    @media(max-width: 820px)
      max-width: 100%

#faq
  @media(max-width: 820px)
    padding-bottom: 300px

.faq-item
  position: relative

  h1,h2,h3,h4,h5,h6
    padding: 20px 5px
    margin-bottom: 0
    cursor: pointer
    transition: background-color 0.5s
  
  .container
    padding-left: 0
    padding-right: 0
    padding-top: 20px
    margin-bottom: 40px
  
  .section-image
    min-width: 300px

  .section-blurb
    padding-left: 40px
    
  .content-block
    height: 0
    overflow: hidden
    padding: 0 40px

  &.openme
    h1,h2,h3,h4,h5,h6
      //background: #f1f1f1!important
    
    .content-block
      height: auto
  
  svg
    position: absolute
    top: 20px
    left: -20px
    font-size: 20px
    line-height: 20px
    color: #c0cad2
  
  &.openme svg
    transform: rotate(90deg)

.no-pro
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: stretch
  align-content: stretch

  & > *
    flex: 1 0 25%
    padding: 0 25px

    @media(max-width: 820px)
      flex: 1 0 100%
      padding: 0 0 50px
      text-align: center

.no-pro-item-excerpt
  font-size: 16px  
  line-height: 22px
  
  p
    margin-top: 0
    font-style: italic

    &:last-child
      margin-bottom: 0

.cta-block
  min-height: 400px
  padding: 100px 0
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  align-content: stretch

/* Site Footer */
.site-footer
  display: block
  width: 100%
  padding: 26px 10px
  text-align: center

.cta-block
  h5.cta-title
    margin-bottom: 0px!important
  .branding
    display: block
    width: auto
    a
      color: #fff!important
      transform: scale(1)
      transition: transform 0.3s

      &:hover, &:active
        transform: scale(1.2)